fastapi==0.104.0
uvicorn==0.23.2
pydantic
pydantic-settings==2.0.3
openai==1.66.3
python-dotenv==1.0.0
torch
numpy
pymongo==3.12.3
motor==2.5.1
slowapi==0.1.8
transformers==4.33.2
sentence-transformers==2.2.2
nest-asyncio==1.5.8
tqdm==4.67.1
matplotlib==3.9.4

